body{
	margin: 0px;
}

div{
	background-color: grey;
}


hr{
	border-top: 2px dashed black;
	margin: 0px;
}

p{
	display: inline-block;
	margin-left: 43.5%;
}


#aantallen, #prijzen{
	width: 200px;
}
#producten{
	margin-left: 23.5%;
	margin-right: 23.5%;
	width: 400px;
}
#aantallen, #prijzen, #producten{
	border: 1px solid red;
	display: inline-block;
}